<div class="main-container">
  <div class="header fade-in">
      <h1>Srinivas Boini</h1>
  </div>
  <div class="main-image fade-in delay-one">
    <img src="../assets/img/me.jpg">
  </div>
  <div class="content fade-in delay-two">
    <p>Full Stack Developer having hands on experience on e2e web, mobile and desktop applications</p>
    <p>Born and raised in pearl city of India. I studied computer science at Jawaharlal Nehru Technological University.</p>
    <p>I enjoy helping people while continuing to learn myself.</p>
    <p>Here is my LinkedIn profile <a target="_blank" href="https://www.linkedin.com/in/srinivas-boini-a63713153">Srinivas</a></p>
    <p>Any queries, suggestions, feedback please click <a (click)="feedback()">here</a></p>
      <div *ngIf="show">
        <textarea ng-model="msg"></textarea>
        <a href="#" class="action-button shadow animate blue" (click)="saveMsg()">submit</a>
      </div>
  </div>
  
</div>
<div class="black-bg">
  <div class="img-container fade-in" >
  </div>
</div>
